/* Global styles for all pages */
body {
    display: flex;
    flex-direction: column;
}

#wrapper {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    min-height: 100vh;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0;
}

#header {
    margin-bottom: 1rem;
}

.page-title {
    margin-top: 0;
}

#project-content {
    margin-top: 0;
}